<div class="form-inline">
   <label class="mr-2">Buscar:</label>  <div class="form-group mb-2">
        <input type="text" class="form-control mr-2"
         [(ngModel)] = "filtroLista" 
        
         >
      
    </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            
            <th>id</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>Rua</th>
            <th>Diretor</th>
            <th>Opções</th>
            <!-- <th>Turmas</th>  -->
        </tr>
    </thead>
    <tbody *ngIf="escolas && escolas.length">
        <tr *ngFor = "let escola of escolasFiltradas">
            <td>{{escola.id}}</td>
            <td>{{escola.nome}}</td>
            <td>{{escola.cidade}}</td>
            <td>{{escola.bairro}}</td>
            <td>{{escola.rua}}</td>
            <td>{{escola.diretor}}</td>
           
            <!-- <td>
                <div *ngIf="!escola.turmas.length">
                    Não Informada
                </div>
                <div *ngIf="escola.turmas.length">
                        {{escola.turmas[0].codigo} | uppercase}
                </div>   
            </td> -->
            <td>
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" 
                    tooltip="Editar" (click)="openModal(template)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" tooltip="Apagar">
                        <i class="fa fa-eraser"></i>
                    </button>

                </div>
                
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!escolas.length">
        <tr>
            <td colspan="7" class="text-center">
                <h4>
                    Nenhum escola encontrada!
                </h4>
            </td>
        </tr>
    </tfoot>
    
</table>    

<ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Modal</h4>
          <button type="button" class="close pull-right" 
          aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is a modal.
      </div>
</ng-template>
